
# set to true to produce debug build
# no optimization, and -g compiler flags
set(DEBUG true)

# set to the location of the XL4BUS
# library build directory
set(XL4BUS_DIR /home/rkh/libxl4bus/build)

# If true, -R (-rpath) will be set to XL4BUS library location
set(XL4BUS_RPATH true)

# If true, Python ua lib will be built.
set(BUILD_PY_LIBUA true)

# set to true to support ua download
# set(SUPPORT_UA_DOWNLOAD true)
# add_definitions(-DSUPPORT_UA_DOWNLOAD)

