
# set to true to produce debug build
# no optimization, and -g compiler flags
set(DEBUG true)

# set to the location of the XL4BUS
# library build directory
set(XL4BUS_DIR /path/to/libxl4bus/build)

set(DMCLIENT_DIR /path/to/dmclient/dir)

# If true, -R (-rpath) will be set to XL4BUS library location
set(XL4BUS_RPATH true)

# If true, Python ua lib will be built.
set(BUILD_PY_LIBUA true)

# set to true to support ua download
#set(SUPPORT_UA_DOWNLOAD true)
#add_definitions(-DSUPPORT_UA_DOWNLOAD)

# set this to 1 to disable shell commands for delta tools
#set(SHELL_COMMAND_DISABLE 1)
#add_definitions(-DSHELL_COMMAND_DISABLE)

#set to true to support scp file transfer in template ua.
#set(TMPL_UA_SUPPORT_SCP_TRANSFER true)

#set to true to build with legacy API protoypes.
#default build is for API Version 2.0
#set(USE_LEGACY_API true)

#default build with python 2.x, make true to use 3.x
#set(PYTHON_VER3 false)

#set to build with esync alliance changes
#default it will build without esync alliance
set(ESYNC_ALLIANCE false)
set(binName agent)

