.ninja_deps
.ninja_log
CMakeCache.txt
CMakeFiles/
build.ninja
build_config.h
cmake_install.cmake
config.cmk
deltapatcher
install_manifest.txt
json-c-build/
libua.a
libua.so
rules.ninja
tmpl-updateagent
ua_version.h
build
linux_port/*.cmk
qnx_port/*.cmk
libxml2-build
libzip-build
setup.cfg
