[submodule "json-c"]
	path = json-c
	url = https://github.com/json-c/json-c.git
	branch = json-c-0.12
[submodule "libzip"]
	path = libzip
	url = https://github.com/nih-at/libzip.git
[submodule "libxml2"]
	path = libxml2
	url = https://github.com/GNOME/libxml2.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
	branch = master
[submodule "esdiff"]
	path = esdiff
	url = git@gitlab.excelfore.com:esync/esdiff.git
	branch = master
[submodule "xz"]
	path = xz
	url = https://github.com/xz-mirror/xz.git
	branch = master
