# Define all dependent compilation flags for libua
set(GHS_OS_DIR /home/tranduc/working/projects/ghs/int1178)
set(GHS_BSP_NAME devtree-arm64)
set(BUILD_TOOL_DIR /home/tranduc/working/projects/ghs/comp_201814)
set(GHS_TGT_DIR /home/tranduc/working/projects/esync_demo/updateagent-c/ghs_port_new/tgt)

set(LIB_XL4BUS_DIR /home/tranduc/working/projects/eSync/esync_code/libxl4bus)

set(RUN_TESTS FALSE)
set(BUILD_SHARED FALSE)
set(BUILD_STATIC FALSE)
set(BUILD_BINS FALSE)
set(UNIT_TEST 0)
set(HIDE_JSONC_API 0)
set(HAVE_LIMITS_H 0)
set(SHELL_COMMAND_DISABLE 1)

